In [1]:
import pymysql
import schedule
import time
from datetime import datetime

def test():
    second = datetime.now().time().second
    
    if second < 15:
        t = 'time1'
    elif second < 30:
        t = 'time2'
    elif second < 45:
        t = 'time3'
    else :
        t = 'time4'

    print(t)

    meal_db = pymysql.connect(
        user='admin',
        passwd='happymisic1#',
        host='testdata.ch1v7vb7kdnw.ap-northeast-2.rds.amazonaws.com',
        db='batchschedule',
        charset='utf8'
    )
    cursor = meal_db.cursor(pymysql.cursors.DictCursor)

#     sql1 = "TRUNCATE TABLE twenties;"
#     sql2 = "TRUNCATE TABLE thirties;"
#     sql3 = "TRUNCATE TABLE fourties;"

    tables = ["twenties","thirties","fourties"]
    for table in tables:
        sql = f"TRUNCATE TABLE {table}"
        cursor.execute(sql)

#     cursor.execute(sql1)
#     cursor.execute(sql2)
#     cursor.execute(sql3)


    sql4 = "INSERT INTO twenties (menu_code, menu) SELECT menu_code, menu FROM menu WHERE age=20 and " + t + " = 1;"
    sql5 = "INSERT INTO thirties (menu_code, menu) SELECT menu_code, menu FROM menu WHERE age=30 and " + t + " = 1;"
    sql6 = "INSERT INTO fourties (menu_code, menu) SELECT menu_code, menu FROM menu WHERE age=40 and " + t + " = 1;"

    
#     sql2 = "INSERT INTO %s (menu_code, menu) SELECT menu_code, menu FROM menu WHERE age=%s and " + t + " = 1;"
#     ages = [["twenties",20],["thirties",30],["fourties",40]]
    
#     cursor.executemany(sql2,ages)
    cursor.execute(sql4)
    cursor.execute(sql5)
    cursor.execute(sql6)
    
    meal_db.commit()

    sql = "select * from twenties;"
    cursor.execute(sql)
    result = cursor.fetchall()
    print(result)

schedule.every(5).seconds.do(test)

while True:
    schedule.run_pending()
    time.sleep(1)

time2
[{'id': 1, 'menu_code': 'MN000001', 'menu': '1955버거'}, {'id': 2, 'menu_code': 'MN000002', 'menu': 'BBQ포크'}, {'id': 3, 'menu_code': 'MN000003', 'menu': 'BLT샌드위치'}, {'id': 4, 'menu_code': 'MN000004', 'menu': 'LA갈비'}, {'id': 5, 'menu_code': 'MN000005', 'menu': 'LA갈비도시락'}, {'id': 6, 'menu_code': 'MN000006', 'menu': 'LA갈비화로구이반상'}, {'id': 7, 'menu_code': 'MN000007', 'menu': 'XO볶음밥'}, {'id': 8, 'menu_code': 'MN000008', 'menu': '가께우동'}, {'id': 9, 'menu_code': 'MN000009', 'menu': '가나슈'}, {'id': 10, 'menu_code': 'MN000010', 'menu': '가나슈마카롱'}, {'id': 11, 'menu_code': 'MN000011', 'menu': '가나슈케이크'}, {'id': 12, 'menu_code': 'MN000012', 'menu': '가다랑어초밥'}, {'id': 13, 'menu_code': 'MN000013', 'menu': '가든샐러드'}, {'id': 14, 'menu_code': 'MN000014', 'menu': '가또쇼콜라'}, {'id': 15, 'menu_code': 'MN000016', 'menu': '가라아게덮밥'}, {'id': 16, 'menu_code': 'MN000017', 'menu': '가라아게돈부리'}, {'id': 17, 'menu_code': 'MN000018', 'menu': '가라아게동'}, {'id': 18, 'menu_code': 'MN000019', 'menu': '가라아게오므라이스'}]
time2
[{'id': 1, 'menu_code': 'MN000001', 'menu': '1955버거'}, {'id': 2, 'menu_code': 'MN000002', 'menu': 'BBQ포크'}, {'id': 3, 'menu_code': 'MN000003', 'menu': 'BLT샌드위치'}, {'id': 4, 'menu_code': 'MN000004', 'menu': 'LA갈비'}, {'id': 5, 'menu_code': 'MN000005', 'menu': 'LA갈비도시락'}, {'id': 6, 'menu_code': 'MN000006', 'menu': 'LA갈비화로구이반상'}, {'id': 7, 'menu_code': 'MN000007', 'menu': 'XO볶음밥'}, {'id': 8, 'menu_code': 'MN000008', 'menu': '가께우동'}, {'id': 9, 'menu_code': 'MN000009', 'menu': '가나슈'}, {'id': 10, 'menu_code': 'MN000010', 'menu': '가나슈마카롱'}, {'id': 11, 'menu_code': 'MN000011', 'menu': '가나슈케이크'}, {'id': 12, 'menu_code': 'MN000012', 'menu': '가다랑어초밥'}, {'id': 13, 'menu_code': 'MN000013', 'menu': '가든샐러드'}, {'id': 14, 'menu_code': 'MN000014', 'menu': '가또쇼콜라'}, {'id': 15, 'menu_code': 'MN000016', 'menu': '가라아게덮밥'}, {'id': 16, 'menu_code': 'MN000017', 'menu': '가라아게돈부리'}, {'id': 17, 'menu_code': 'MN000018', 'menu': '가라아게동'}, {'id': 18, 'menu_code': 'MN000019', 'menu': '가라아게오므라이스'}]
time3
[{'id': 1, 'menu_code': 'MN000001', 'menu': '1955버거'}, {'id': 2, 'menu_code': 'MN000004', 'menu': 'LA갈비'}, {'id': 3, 'menu_code': 'MN000005', 'menu': 'LA갈비도시락'}, {'id': 4, 'menu_code': 'MN000006', 'menu': 'LA갈비화로구이반상'}, {'id': 5, 'menu_code': 'MN000007', 'menu': 'XO볶음밥'}, {'id': 6, 'menu_code': 'MN000008', 'menu': '가께우동'}, {'id': 7, 'menu_code': 'MN000009', 'menu': '가나슈'}, {'id': 8, 'menu_code': 'MN000010', 'menu': '가나슈마카롱'}, {'id': 9, 'menu_code': 'MN000011', 'menu': '가나슈케이크'}, {'id': 10, 'menu_code': 'MN000012', 'menu': '가다랑어초밥'}, {'id': 11, 'menu_code': 'MN000013', 'menu': '가든샐러드'}, {'id': 12, 'menu_code': 'MN000014', 'menu': '가또쇼콜라'}, {'id': 13, 'menu_code': 'MN000015', 'menu': '가라아게'}, {'id': 14, 'menu_code': 'MN000019', 'menu': '가라아게오므라이스'}, {'id': 15, 'menu_code': 'MN000020', 'menu': '가라아게치킨'}]
time3
[{'id': 1, 'menu_code': 'MN000001', 'menu': '1955버거'}, {'id': 2, 'menu_code': 'MN000004', 'menu': 'LA갈비'}, {'id': 3, 'menu_code': 'MN000005', 'menu': 'LA갈비도시락'}, {'id': 4, 'menu_code': 'MN000006', 'menu': 'LA갈비화로구이반상'}, {'id': 5, 'menu_code': 'MN000007', 'menu': 'XO볶음밥'}, {'id': 6, 'menu_code': 'MN000008', 'menu': '가께우동'}, {'id': 7, 'menu_code': 'MN000009', 'menu': '가나슈'}, {'id': 8, 'menu_code': 'MN000010', 'menu': '가나슈마카롱'}, {'id': 9, 'menu_code': 'MN000011', 'menu': '가나슈케이크'}, {'id': 10, 'menu_code': 'MN000012', 'menu': '가다랑어초밥'}, {'id': 11, 'menu_code': 'MN000013', 'menu': '가든샐러드'}, {'id': 12, 'menu_code': 'MN000014', 'menu': '가또쇼콜라'}, {'id': 13, 'menu_code': 'MN000015', 'menu': '가라아게'}, {'id': 14, 'menu_code': 'MN000019', 'menu': '가라아게오므라이스'}, {'id': 15, 'menu_code': 'MN000020', 'menu': '가라아게치킨'}]
time3
[{'id': 1, 'menu_code': 'MN000001', 'menu': '1955버거'}, {'id': 2, 'menu_code': 'MN000004', 'menu': 'LA갈비'}, {'id': 3, 'menu_code': 'MN000005', 'menu': 'LA갈비도시락'}, {'id': 4, 'menu_code': 'MN000006', 'menu': 'LA갈비화로구이반상'}, {'id': 5, 'menu_code': 'MN000007', 'menu': 'XO볶음밥'}, {'id': 6, 'menu_code': 'MN000008', 'menu': '가께우동'}, {'id': 7, 'menu_code': 'MN000009', 'menu': '가나슈'}, {'id': 8, 'menu_code': 'MN000010', 'menu': '가나슈마카롱'}, {'id': 9, 'menu_code': 'MN000011', 'menu': '가나슈케이크'}, {'id': 10, 'menu_code': 'MN000012', 'menu': '가다랑어초밥'}, {'id': 11, 'menu_code': 'MN000013', 'menu': '가든샐러드'}, {'id': 12, 'menu_code': 'MN000014', 'menu': '가또쇼콜라'}, {'id': 13, 'menu_code': 'MN000015', 'menu': '가라아게'}, {'id': 14, 'menu_code': 'MN000019', 'menu': '가라아게오므라이스'}, {'id': 15, 'menu_code': 'MN000020', 'menu': '가라아게치킨'}]
time4
[{'id': 1, 'menu_code': 'MN000001', 'menu': '1955버거'}, {'id': 2, 'menu_code': 'MN000010', 'menu': '가나슈마카롱'}, {'id': 3, 'menu_code': 'MN000015', 'menu': '가라아게'}, {'id': 4, 'menu_code': 'MN000020', 'menu': '가라아게치킨'}]
time4
[{'id': 1, 'menu_code': 'MN000001', 'menu': '1955버거'}, {'id': 2, 'menu_code': 'MN000010', 'menu': '가나슈마카롱'}, {'id': 3, 'menu_code': 'MN000015', 'menu': '가라아게'}, {'id': 4, 'menu_code': 'MN000020', 'menu': '가라아게치킨'}]
time4
[{'id': 1, 'menu_code': 'MN000001', 'menu': '1955버거'}, {'id': 2, 'menu_code': 'MN000010', 'menu': '가나슈마카롱'}, {'id': 3, 'menu_code': 'MN000015', 'menu': '가라아게'}, {'id': 4, 'menu_code': 'MN000020', 'menu': '가라아게치킨'}]

KeyboardInterrupt:

In [ ]:
test()